<div class="outer">
    <div class="outer-title">ー 予定一覧 ー</div>
    <div class="outer-menu">
        本日の日付：<%= Date.current.strftime('%Y/%m/%d') %>
    </div>
</div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>開始日</th>
                <th>終了日</th>
                <th>終日</th>
                <th>更新日時</th>
                <th></th>
            </tr>
        </thead>
        <% @posts.each do |post| %>
            <tbody>
                <tr>
                    <td><%= post.id %></td> 
                    <td><%= post.title %></td>
                    <td><%= post.start_date.strftime('%Y/%m/%d') %></td>
                    <td><%= post.end_date.strftime('%Y/%m/%d') %></td>
                    <td>
                        <% if post.all_day == true %>
                              ⚪︎
                        <% else %>
                        <% end %>
                    </td>
                    <td><%= l post.updated_at %></td>
                    <td>
                        <%= link_to "詳細", "/posts/#{post.id}", method: :get %>
                        <%= link_to "編集", "/posts/#{post.id}/edit", method: :get %>
                        <%= link_to "削除", "/posts/#{post.id}", method: :delete, data: {confirm: "削除しますか？"}%>
                    </td>
                </tr>
            </tbody>
        <% end %>
    </table>
<div class="count">
    予定合計数：<%= @posts.count %>件
</div>